
            .icon-angular {
              width: 225px;
              height: 225px;
              display: inline-block;
              background-image: url('~@home/images/sprite-home.png');
              background-size: 460px 444px;
              background-position: 0px 0px;
              background-repeat: no-repeat;
            }
          

            .icon-react {
              width: 225px;
              height: 225px;
              display: inline-block;
              background-image: url('~@home/images/sprite-home.png');
              background-size: 460px 444px;
              background-position: -235px 0px;
              background-repeat: no-repeat;
            }
          

            .icon-vue {
              width: 241px;
              height: 209px;
              display: inline-block;
              background-image: url('~@home/images/sprite-home.png');
              background-size: 460px 444px;
              background-position: 0px -235px;
              background-repeat: no-repeat;
            }
          